a {
  outline: none !important;
}
#content a {
  color: #6f92ba;
  transition: color .4s;
}
#content a:hover, #content a:focus {
  color: #4772a3;
}
#content > ul,
#content #text > * {
  max-width: 34em;
  margin-left: auto;
  margin-right: auto;
}
#content #text pre {
  max-width: 44em;
}
pre code {
  font-family: Inconsolata;
}