@import 'https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'https://fonts.googleapis.com/css?family=Inconsolata';

:root {
  --ease: cubic-bezier(.82, 0, .12, 1);
  --azure: #6f92ba;
  --lightgray: #f7f7f7;
}

/**
 * Reset
 */

* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: avenir next, avenir, 'Open Sans', sans-serif;
}

/**
 * Elements
 */

a {
  position: relative;
  outline: none !important;
  text-decoration: none;
}
a {
  color: var(--azure);
  transition: color .4s;
}

#main a {
  display: inline-block;
}
#main a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--azure);
  transform: scaleX(0);
  transition: all 0.2s var(--ease) 0s;
}
#main a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

/**
 * Chrome Scrollbar
 */

::-webkit-scrollbar {
  display: none;
}

/**
 * Skeleton
 */

#main hr {
  border-top: none;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  max-width: 44rem !important;
}

#header {
  max-width: 34rem;
}
#header nav {
  display: flex;
  justify-content: space-between;
}

#header a {
  padding: 1px 2px;
  transition: all .15s ease-in-out;
}
#header a:hover, #header a:focus {
  background-color: rgba(119, 119, 119, .7);
  color: #fff;
}
#header a.active {
  background-color: #777;
  color: #fff;
}

#main > ul,
#main .content.custom > * {
  max-width: 34rem;
  margin-left: auto;
  margin-right: auto;
}
#main .content.custom pre,
#main .content.custom figure,
#main .content.custom blockquote,
#main .content.custom video {
  max-width: 44rem;
}
#main .content.custom video {
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/**
 * Code
 */

code {
  font-family: Inconsolata, monospace !important;
  border-radius: 2px;
  padding: .2rem .3rem;
  background-color: var(--lightgray);
}
code { white-space: nowrap; }
pre code { white-space: pre; }
pre code {
  display: block;
  padding: 1rem;
}
pre {
  overflow: auto;
  overflow-wrap: break-word;
  border-radius: 6px;
  background-color: var(--lightgray);
}

/**
 * Blockquote
 */

blockquote {
  background-color: var(--lightgray);
  padding: 1rem;
  font-style: italic;
}

@media only screen and (max-width: 340px) {
  html {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  #main ul li {
    flex-flow: column nowrap;
  }
}

/**
 * Tomorrow Theme
 */

/* Tomorrow Comment */
pre code .token.comment,
pre code .token.quote {
  color: #8e908c;
}

/* Tomorrow Red */
pre code .token.variable,
pre code .token.template-variable,
pre code .token.tag,
pre code .token.name,
pre code .token.selector-id,
pre code .token.selector-class,
pre code .token.regexp,
pre code .token.deletion {
  color: #c82829;
}

/* Tomorrow Orange */
pre code .token.number,
pre code .token.built_in,
pre code .token.builtin-name,
pre code .token.literal,
pre code .token.type,
pre code .token.params,
pre code .token.meta,
pre code .token.link {
  color: #f5871f;
}

/* Tomorrow Yellow */
pre code .token.attribute {
  color: #eab700;
}

/* Tomorrow Green */
pre code .token.string,
pre code .token.symbol,
pre code .token.bullet,
pre code .token.addition {
  color: #718c00;
}

/* Tomorrow Blue */
pre code .token.title,
pre code .token.section {
  color: #4271ae;
}

/* Tomorrow Purple */
pre code .token.keyword,
pre code .token.selector-tag {
  color: #8959a8;
}

pre code .token.emphasis {
  font-style: italic;
}

pre code .token.strong {
  font-weight: bold;
}