@import 'https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600&display=swap');
@import 'https://fonts.googleapis.com/css?family=Inconsolata';

:root {
  --ease: cubic-bezier(.82, 0, .12, 1);
  --azure: #6f92ba;
  --lightgray: #f7f7f7;
}

/**
 * Reset
 */

* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: avenir next, avenir, 'Open Sans', sans-serif;
}

/**
 * Elements
 */

#main a {
  color: var(--azure);
}
#main a {
  text-decoration: none;
}
#main a:hover {
  text-decoration: underline;
}

#main.page-home a {
  position: relative;
  outline: none !important;
  text-decoration: none;
}
#main.page-home a {
  transition: color .4s;
}

#main.page-home a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--azure);
  transform: scaleX(0);
  transition: transform 0.2s var(--ease) 0s;
}
#main.page-home a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

#main b, #main strong {
  font-weight: 600;
}

#main code {
  padding: 0 .2rem;
}

#main pre code {
  padding: 1rem;
}

/**
 * Chrome Scrollbar
 */

::-webkit-scrollbar {
  display: none;
}

/**
 * Skeleton
 */

#main hr {
  border-top: none;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  max-width: 44rem !important;
}

#header {
  max-width: 34rem;
}
#header nav {
  display: flex;
  justify-content: space-between;
}

#header a {
  padding: 1px 2px;
  transition: all .15s ease-in-out;
}
#header a:hover, #header a:focus {
  background-color: rgba(119, 119, 119, .7);
  color: #fff;
}
#header a.active {
  background-color: #777;
  color: #fff;
}

#main > ul,
#main .content.custom > * {
  max-width: 34rem;
  margin-left: auto;
  margin-right: auto;
}
#main .content.custom pre,
#main .content.custom figure,
#main .content.custom blockquote,
#main .content.custom video {
  max-width: 44rem;
}
#main .content.custom video {
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#main .content.custom figure > a > img {
  transition: filter .2s;
}
#main .content.custom figure > a > img:hover {
  filter: blur(1px) opacity(0.9);
}
/**
 * Code
 */

code {
  font-family: Inconsolata, monospace !important;
  border-radius: 2px;
  padding: .2rem .3rem;
  background-color: var(--lightgray);
}
code { white-space: nowrap; }
pre code { white-space: pre; }
pre code {
  display: block;
  padding: 1rem;
}
pre {
  overflow: auto;
  overflow-wrap: break-word;
  border-radius: 6px;
  background-color: var(--lightgray);
}
pre code .line {
  opacity: 0.85;
}

/**
 * Blockquote
 */

blockquote {
  background-color: var(--lightgray);
  padding: 1rem;
  font-style: italic;
}

@media only screen and (max-width: 340px) {
  html {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  #main ul li {
    flex-flow: column nowrap;
  }
}
